In [1]:
import pandas as pd
import scipy
import numpy as np
import re
import nltk
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
#ratings = pd.merge(movies, ratings).drop(['date_added', 'release_year', 'rating', 'duration'], axis=1)
ratings = pd.merge(movies, ratings)

ratings.drop('timestamp', axis = 1, inplace=True)
ratings.head()

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5

In [4]:
ratings['rating'] = ratings['rating'].fillna('0')
ratings.head()

,movieId,title,genres,userId,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5

In [5]:
ratings['clean_genre'] = ratings['genres'].str.lower()
ratings['clean_genre'] = ratings['clean_genre'].apply(lambda x: re.sub(' ', '', x))
ratings['clean_genre'] = ratings['clean_genre'].apply(lambda x: re.sub('\s+', ' ', x))
ratings['clean_genre'] = ratings['clean_genre'].apply(lambda x: x.split('|'))
#pd.set_option('display.max_rows', 100)
#ratings['clean_genre']
ratings

,movieId,title,genres,userId,rating,clean_genre
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,"[adventure, animation, children, comedy, fantasy]"
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,"[adventure, animation, children, comedy, fantasy]"
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,"[adventure, animation, children, comedy, fantasy]"
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,"[adventure, animation, children, comedy, fantasy]"
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,"[adventure, animation, children, comedy, fantasy]"
...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,"[action, animation, comedy, fantasy]"
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,"[animation, comedy, fantasy]"
100833,193585,Flint (2017),Drama,184,3.5,[drama]
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,"[action, animation]"
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,[comedy]

In [6]:
genre_ratings = ratings[['title', 'userId', 'rating', 'clean_genre']].copy()
genre_ratings.head()

,title,userId,rating,clean_genre
0,Toy Story (1995),1,4.0,"[adventure, animation, children, comedy, fantasy]"
1,Toy Story (1995),5,4.0,"[adventure, animation, children, comedy, fantasy]"
2,Toy Story (1995),7,4.5,"[adventure, animation, children, comedy, fantasy]"
3,Toy Story (1995),15,2.5,"[adventure, animation, children, comedy, fantasy]"
4,Toy Story (1995),17,4.5,"[adventure, animation, children, comedy, fantasy]"

In [149]:
def get_similar_genre(genre):
    #similar_genre = genre_ratings['user_id', 'clean_genre']
    temp = []
    df = pd.DataFrame()
    #print(genre_ratings['clean_genre'][0][0])
    for i, x in enumerate(genre_ratings['clean_genre']):
        for y in x:
            if(y in genre):
                temp.append(i)
                     
    #temp = genre_ratings.loc[genre_ratings['clean_genre'][0][0] == ([genre])]
    #temp = genre_ratings.loc[genre_ratings['clean_genre'].str.contains(genre)]
    temp = set(temp)
    temp = list(temp)
    df = genre_ratings.iloc[temp]
    return df

In [150]:
df_genre = get_similar_genre(["adventure", "comedy", "drama", "animation", "children", "fantasy"])
df_genre
#df_genre.drop_duplicates(inplace=True)
#get_similar_genre(["adventure"])

,title,userId,rating,clean_genre
0,Toy Story (1995),1,4.0,"[adventure, animation, children, comedy, fantasy]"
1,Toy Story (1995),5,4.0,"[adventure, animation, children, comedy, fantasy]"
2,Toy Story (1995),7,4.5,"[adventure, animation, children, comedy, fantasy]"
3,Toy Story (1995),15,2.5,"[adventure, animation, children, comedy, fantasy]"
4,Toy Story (1995),17,4.5,"[adventure, animation, children, comedy, fantasy]"
...,...,...,...,...
100831,Black Butler: Book of the Atlantic (2017),184,4.0,"[action, animation, comedy, fantasy]"
100832,No Game No Life: Zero (2017),184,3.5,"[animation, comedy, fantasy]"
100833,Flint (2017),184,3.5,[drama]
100834,Bungo Stray Dogs: Dead Apple (2018),184,3.5,"[action, animation]"
100835,Andrew Dice Clay: Dice Rules (1991),331,4.0,[comedy]

In [167]:
recc_ratings = df_genre.pivot_table(index=['userId'],columns=['title'],values='rating')
recc_ratings.fillna(0, inplace=True)
recc_ratings

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...All the Marbles (1981),...,Zoolander 2 (2016),Zoom (2006),Zoom (2015),Zootopia (2016),Zulu (1964),Zulu (2013),[REC] (2007),anohana: The Flower We Saw That Day - The Movie (2013),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,4.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0

In [210]:
recc_columns['sum'] = recc_ratings.sum(axis=0).sort_values(ascending=False)
#recc_columns = recc_ratings.pivot_table(columns=[''])
recc_columns = pd.DataFrame(recc_columns)
#recc_columns.(columns=recc_columns[0], axis=1, inplace=True)
del recc_columns[recc_columns.columns[0]]
recc_columns

                                              sum
title
Shawshank Redemption, The (1994)           1404.0
Forrest Gump (1994)                        1370.0
Pulp Fiction (1994)                        1288.5
Star Wars: Episode IV - A New Hope (1977)  1062.0
Braveheart (1995)                           955.5
...                                           ...
Legionnaire (1998)                            0.5
Crow, The: Wicked Prayer (2005)               0.5
Daddy Day Camp (2007)                         0.5
Son of God (2014)                             0.5
My Bloody Valentine (1981)                    0.5

[7949 rows x 1 columns]

In [217]:
recc_normalization = df_genre['title'].value_counts()
recc_normalization = pd.DataFrame(recc_normalization)
recc_normalization.rename(columns={'title':'count'}, inplace=True)
recc_normalization

                                           count
Forrest Gump (1994)                          329
Shawshank Redemption, The (1994)             317
Pulp Fiction (1994)                          307
Star Wars: Episode IV - A New Hope (1977)    251
Jurassic Park (1993)                         238
...                                          ...
Meantime (1984)                                1
Major and the Minor, The (1942)                1
Dennis the Menace Christmas, A (2007)          1
Undisputed II: Last Man Standing (2006)        1
Andrew Dice Clay: Dice Rules (1991)            1

[7949 rows x 1 columns]

In [272]:
#recc_merge = pd.join(recc_columns, recc_normalization)
recc_merge = recc_columns.join(recc_normalization)
recc_merge

                                              sum  count
title
Shawshank Redemption, The (1994)           1404.0    317
Forrest Gump (1994)                        1370.0    329
Pulp Fiction (1994)                        1288.5    307
Star Wars: Episode IV - A New Hope (1977)  1062.0    251
Braveheart (1995)                           955.5    237
...                                           ...    ...
Legionnaire (1998)                            0.5      1
Crow, The: Wicked Prayer (2005)               0.5      1
Daddy Day Camp (2007)                         0.5      1
Son of God (2014)                             0.5      1
My Bloody Valentine (1981)                    0.5      1

[7949 rows x 2 columns]

## Normalizing + removing count values <= 100

In [273]:
recc_merge['normalize'] = (recc_merge['sum']/recc_merge['count'])
recc_merge['count'].dtypes
#recc_merge = recc_merge.drop(recc_merge[recc_merge['count'] < 100].index, inplace=True)
recc_merge = recc_merge[(recc_merge['count'] > 100)]
recc_merge.sort_values(by='count', ascending=False).head(10)

                                                       sum  count  normalize
title
Forrest Gump (1994)                                 1370.0    329   4.164134
Shawshank Redemption, The (1994)                    1404.0    317   4.429022
Pulp Fiction (1994)                                 1288.5    307   4.197068
Star Wars: Episode IV - A New Hope (1977)           1062.0    251   4.231076
Jurassic Park (1993)                                 892.5    238   3.750000
Braveheart (1995)                                    955.5    237   4.031646
Schindler's List (1993)                              929.5    220   4.225000
Fight Club (1999)                                    931.5    218   4.272936
Toy Story (1995)                                     843.0    215   3.920930
Star Wars: Episode V - The Empire Strikes Back ...   889.5    211   4.215640

In [ ]:
ratings['cast'] = ratings['cast'].fillna(' ')
ratings['fav_cast'] = ratings['fav_cast'].fillna(' ')
ratings['director'] = ratings['director'].fillna(' ')
ratings['country'] = ratings['country'].fillna(' ')

ratings.head(61)

# User - User

### Genre

In [ ]:
ratings['clean_genre'] = ratings['fav_genre'].str.lower()
ratings['clean_genre'] = ratings['clean_genre'].apply(lambda x: re.sub(' ', '', x))
ratings['clean_genre'] = ratings['clean_genre'].apply(lambda x: re.sub('\s+', ' ', x))
#ratings['clean_genre'] = ratings['clean_genre'].apply(lambda x: x.split(','))
#ratings['clean_genre'] = ratings['clean_genre'].str.split(',')
pd.set_option('display.max_rows', 100)
#ratings['clean_genre']
ratings

In [ ]:
genre_ratings = ratings[['show_id', 'title', 'listed_in', 'user_id', 'user_rating', 'clean_genre']].copy()
genre_ratings.head(10)

In [ ]:
def get_similar_genre(genre):
    #similar_genre = genre_ratings['user_id', 'clean_genre']
    temp = pd.DataFrame()
    
    #temp = genre_ratings.loc[genre_ratings['clean_genre'].isin([genre])]
    temp = genre_ratings.loc[genre_ratings['clean_genre'].str.contains(genre)]
    return temp

In [ ]:
recc_data = get_similar_recc('action&adventure')
recc_data

In [ ]:
recc_ratings = recc_data.pivot_table(index=['user_id'],columns=['title'],values='user_rating')
recc_ratings.fillna(0, inplace=True)
recc_ratings

In [ ]:
recc_columns = recc_ratings.sum(axis=0).sort_values(ascending=False)
recc_columns

In [ ]:
userRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='user_rating')
print("Before: ",userRatings.shape)
#userRatings = userRatings.dropna(how='all').fillna(0)
userRatings.fillna(0, inplace=True)
print("After: ",userRatings.shape)
userRatings.head(10)

In [ ]:
corrMatrix = userRatings.corr(method='pearson')
corrMatrix.head(10)

In [ ]:
def standardize(row):
    new_row = (row - row.mean())/(row.max()-row.min())
    return new_row

df_temp = userRatings
df_std = df_temp.apply(standardize)

user_similarity = cosine_similarity(df_std.T)
user_similarity

In [ ]:
from sklearn.metrics.pairwise import euclidean_distances
euclidean_dist = euclidean_distances(df_std.T)
euclidean_dist

In [ ]:
user_similarity_df = pd.DataFrame(user_similarity,index=userRatings.columns,columns=userRatings.columns)
user_similarity_df

In [ ]:
def get_similar_cosine(movie_name, user_rating):
    similar_score = user_similarity_df[movie_name]
    similar_score = similar_score.sort_values(ascending=False)
    #print(type(similar_ratings))
    return similar_score

In [ ]:
new_user1 = [("ONE PIECE",5),("Sword Art Online",2),("Sex Education",4),("Hunter X Hunter (2011)",5),("Attack on Titan",4)]
similar_movies = pd.DataFrame()
for movie,rating in new_user1:
    similar_movies = similar_movies.append(get_similar_cosine(movie,rating),ignore_index = True)

for (x,_) in new_user1:
    del similar_movies[x]
    #print("drop "+ x)
similar_movies.head()

In [ ]:
similar_movies.sum().sort_values(ascending=False).head(10)

In [ ]:
corrMatrix = userRatings.corr(method='pearson')
corrMatrix.head(10)

In [ ]:
def get_similar_pearson(movie_name, user_rating):
    similar_score = corrMatrix[movie_name]*(user_rating-2.5)
    similar_score = similar_score.sort_values(ascending=False)
    #print(type(similar_ratings))
    return similar_score

In [ ]:
new_user1 = [("ONE PIECE",5),("Sword Art Online",2),("Sex Education",4),("Hunter X Hunter (2011)",5),("Attack on Titan",4)]
similar_movies = pd.DataFrame()
for movie,rating in new_user1:
    similar_movies = similar_movies.append(get_similar_pearson(movie,rating),ignore_index = True)

for (x,_) in new_user1:
    del similar_movies[x]
    #print("drop "+ x)
similar_movies.head()

In [ ]:
similar_movies.sum().sort_values(ascending=False).head(10)

In [ ]:
action_lover = [("Amazing Spider-Man, The (2012)",5),("Mission: Impossible III (2006)",4),("Toy Story 3 (2010)",2),("2 Fast 2 Furious (Fast and the Furious 2, The) (2003)",4)]
similar_movies = pd.DataFrame()
for movie,rating in action_lover:
    similar_movies = similar_movies.append(get_similar_pearson(movie,rating),ignore_index = True)

similar_movies.head(10)
similar_movies.sum().sort_values(ascending=False).head(20)

#### Evalaution Metric : RMSE ( Root Mean Squared Error )

In [ ]:
# Function to predict ratings
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        # Use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt

# Function to calculate RMSE
def rmse(pred, actual):
    return sqrt(mean_squared_error(pred, actual))

# Predict ratings on the training data with both similarity score
user_prediction = predict(euclidean_dist, corrMatrix, type='user')
item_prediction = predict(euclidean_dist, corrMatrix, type='item')
# RMSE on the train data
print('User-based CF RMSE: ' + str(rmse(user_prediction, corrMatrix)))
print('Item-based CF RMSE: ' + str(rmse(item_prediction, corrMatrix)))